* {box-sizing: border-box;}

body {
    background: rgb(241, 241, 241);
}

.header {
    height: 300px;
    width: 850px;
    background-color: rgb(89, 104, 167);
    margin: 0 auto;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
}
.header li {
    float: left;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(241, 241, 241);
    padding: 5px;
    margin: 5px auto;
}
.header h1 {
    color: white;
}
.header h2 {
    color: white;
}

.navbar {
    height: 50px;
    width: 850px;
    background-color: white;
    border-radius: 1.7%;
    margin: 0 auto;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
}
.navbar li {
    float: left;
    color: black;
    font-size: 20px;
    border-right: 2px solid rgb(241, 241, 241);
    padding: 5px;
    margin: 5px auto;
}
li:last-child {
    border-right: none;
}

.profile-pic {
    border: 1px solid rgb(94, 94, 119);
    border-bottom: 2px solid rgb(92, 92, 109);
    height: 150px;
    width: 150px;
    background-color: rgb(89, 104, 167);
    position: relative;
    margin: 0 auto;
    top: -120px;
    left: -340px;
    border-radius: 1.7%;
}
